{% extends "firstApp/base.html" %}

{% block main %}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">We are a bunch of hardworking staff that are commited to helping games reach needful
            children in the world everywhere.</p>
    </div>
</div>

<!-- gameplay -->
<div class="container">
    <h2>Organization</h2>
    <p>The Royals Gaming Foundation is an organization founded by Jerry Chen and Aaron Chew. Its ultimate goal is to
        bring the joy of gaming to children in every corner of the world.</p>
</div>
{% endblock %}